<div class="center-top-block">
    <h1>Descrição da Tarefa: #{{tasks.id}} - {{tasks.title}}</h1>
    <ul class="task-list">
        <div class="description-block">
            <h2>Descrição:</h2>
            <div class="description-content">{{tasks.description}}</div>
        </div>
    </ul>
</div>
