<div class="form-container">
    <h1>Editando a Task: {{task.title}}</h1>
<form action="/tasks/edit" method="post">
<input type="hidden" name="id" value="{{task.id}}">
<div class="form-control">
    <label for="title">Título:</label>
    <input type="text" name="title" placeholder="O que você vai fazer?" value="{{task.title}}">
</div>
<div class="form-control">
    <label for="description">Descrição:</label>
    <textarea name="description" placeholder="Descreva a tarefa...">{{task.description}}</textarea>
</div>
<div class="form-control btn-container">
    <input type="submit" value="Editar" class="btn">
</div>
</form>
</div>